* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        place-content: center;
        place-items: center;

        div {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;

            .filtro {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
            }

            #agregar {
                display: flex;
                justify-content: end;

                button {
                    margin-right: 20px;
                    padding: 20px;
                }
            }
        }
        .divicion {
            margin-top: 10px;
            width: 100%;
            height: 10px;
            background-color: blue;
        }
    }

    main {
        flex-grow: 1;
        overflow-y: auto;

        #citas {
            display: flex;
            flex-direction: row;
            place-items: center;
            justify-content: center;
            flex-wrap: wrap;
            overflow-y: auto;
            
    
            .tag{
                width: 280px;
                height: 350px;
                display: grid;
                place-items: center;
                margin: 20px;
                border: 1px solid black;
                border-radius: 20px;
                img{
                    background-color: aqua;
                    position: relative;
                    width: 100PX;
                    border-radius: 100px;
                    top:-20px

                }
                div{
                    display: flex;

                    button{
                        margin: 5px;
                    }
                }
            }
        }
    }

    .modal1, .modal2 {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        justify-content: center;

        .cuadroadd {
            display: flex;
            flex-direction: column;
            place-items: center;
            position: absolute;
            background: rgba(144, 144, 144, 0.1);
            padding: 30px;
            border-radius: 20px;
            border: 1px solid black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            .titulo {

                .x {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }

            .opciones {
                display: grid;

                input {
                    margin: 3px;
                }

                .selecionmascota {
                    display: grid;
                    place-content: center;
                }

                textarea {
                    margin: 10px 0px;
                    height: 100px;
                }
            }
        }

        #error {

            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 30px;
            background-color: red;
            z-index: 2;
            padding: 20px 0;
            display: none;
            place-items: center;
            place-content: center;
            transition: all 0.5s ease-out;

            p {
                font-size: 30px;
            }
        }

        .errorvisible {
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }
    }
}